<h1>Welcome</h1>

<p><em>This is an online version of the popular casino game Blackjack developed in Ruby on Sinatra.</em></p>

<form method="post" action="/setPlayerName" class="form-inline">
  <fieldset>
    <input type="text" name="player_name" placeholder="Enter your name to begin…" />&nbsp;
    <button type="submit" class="btn btn-success">Submit</button>
  </fieldset>
</form>

<%if @error %>
  <div class="alert alert-error"><%=@error%></div>
<% end %>

