<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack in Ruby</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/index.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li id="heading"><a href="/">Rubyjack 21</a></li>
              <li><a href="/">New Game</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/about">About</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
