<h1>Rules of Rubyjack</h1>
<p>
  This is an online version of the popular casino BlackJack game also known as '21'. In this version, the game is played with a single deck of 52 cards pitting a single player against a Dealer. 
</p>

<p>
  The object of the game is to collect cards to try and obtain a score greater than the Dealer without exceeding 21. A card's value is that of the card's number. Face cards (Jacks, Queens, and Kings) count as 10 points while an Ace can be 1 or 11 whichever gives the player the highest score without going over 21.
</p>

<p>
  Player and Dealer are initially dealt two cards each. Player receives cards face up on the table while the Dealer's first dealt card is hidden from view, also known as the cover card.
</p>

<p>
  After the initial deal, the Player chooses to 'Hit' or 'Stay'. A 'Hit' means the player requests to receive an additional card from the top of the shuffled 52 card deck adding to the current collection of cards. A player can continue to 'Hit' as many times as they want but the game will end if their score exceeds 21 with the Dealer winning by default. When a Player or Dealer scores over 21, this is called a 'Bust'. 'Stay' means the Player does not want an additional card and play turns over to the Dealer.
</p>

<p> 
  After Player chooses to 'Stay', Dealer reveals its cover card and then will deal itself additional cards until it reaches a minimum score of 17. Once that is acheived, if the Dealer has not busted, then scores are compared between Player and Dealer and whoever has a greater score wins the round. An even score results in what is called a 'Push' and no one wins. 
</p>
